<div>
  <h2><%= t('token_authority.client_error.title') %></h2>
  <p><%= t('token_authority.client_error.lede') %></p>
  <div>
    <h3><%= error_class %></h3>
    <p><%= error_message %></p>
  </div>
</div>
